.slider-container{
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: 3rem; */
}

.slider-image{
  width: 100vw;
  height: 46rem;
  border: 10px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 3.2rem;
  z-index: 10;
  user-select: none;
  cursor: pointer;
  opacity: 0.4;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  z-index: 10;
  user-select: none;
  cursor: pointer;
  opacity: 0.4;
}

.right-arrow:hover , .left-arrow:hover{
  opacity: 1;
}