.product-card-image{
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.horizontal-card{
  width: 100%;
}

.horizontal-card-text-container{
  display: flex;
  flex-direction: row;
}

.horizontal-card-action-btn-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.image-container{
  height: 30rem;
}

.vertical-card{
  max-width: 280px;
  min-width: 280px;
}

.favorite-btn{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  /* background: chartreuse; */
  border-radius: 50%;
  color: black;
}

.primary-card-badge{
  color: rgba(255, 255, 255, 0.952);
}

@media screen and (max-width:480px){
  .horizontal-card-text-container{
    display: flex;
    flex-direction: column;
  }

  .horizontal-card-action-btn-container{
    display: flex;
    flex-direction: row;
  }
  
}