.product-card-image{
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.horizontal-card{
  width: 100%;
}

.horizontal-card-text-container{
  display: flex;
  flex-direction: row;
}

.horizontal-card-action-btn-container{
  display: flex;
  flex-direction: column;
}

.image-container{
  height: 30rem;
}

.vertical-card{
  max-width: 280px;
  min-width: 280px;
}

.favorite-btn{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  /* background: chartreuse; */
  border-radius: 50%;
  color: black;
}

.width-100{
  width: 100%;
}

.primary-card-badge{
  color: rgba(255, 255, 255, 0.952);
}

.quantity-selector > select{
  border: none;
  background-color: transparent;
  margin-right: 3rem;
  cursor: pointer;
}

.cart-action-btn-container{
  display: flex;
  align-items: center;
}

.cart-action-btn-container .secondary-button{
  color:var(--primary-color)
}

.vertical-card .card-text-container{
  width: unset;
  padding: 0.6rem 1.6rem;
}

.horizontal-card .image-container{
  margin: auto 0.6rem;
}

@media screen and (max-width:480px){
  .horizontal-card-text-container{
    display: flex;
    flex-direction: column;
  }

  .horizontal-card-action-btn-container{
    display: flex;
    flex-direction: row;
  }
  
}