.main-slider-container{
  width: 90%;
  height: max-content;
  position: relative;
}

.card-slider{
  width: 100%;
  /* height: max-content; */
  /* display: flex; */
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  justify-content: center;
}nowrapnowrap

.card-slider::-webkit-scrollbar{
  display: none;
}

.slider-card{
  min-width: 32rem;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

}