.grid-container-skleton{
	/* grid-template-rows: 7vh 1fr ; */
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
  /* 'header header header header header' */
	'filter-bar products-listing products-listing products-listing products-listing';	
	row-gap: 3rem;
	align-items: flex-start;
	width: 97vw;
	overflow: hidden;
  margin-left:20px;
  /* margin-right: 100px; */
  margin-top: 4rem;
}

@media screen and (max-width:1024px){
  .grid-container-skleton{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'filter-bar' 
			'products-listing';
		width: 100%;
		overflow-x: hidden;
    margin-left: unset;
	}
}